<header id="header" class="home">
    
    <div class="container">
        <div id="logo" class="logo col-xs-12 col-sm-5">
            <h1><strong>DICIONÁRIO</strong></h1>
            <h1 class="logo-subtitle">Moto Academy</h1>
        </div>
        
        <div id="search" class="col-xs-12  col-sm-7 ">
            
            <form action="/pesquisa.php" id="searchForm" method="get">
                <input class="barra_pesq txt" autocapitalize="none" placeholder="Buscar no Dicionário" id="q" name="q" type="text" value="" autocomplete="off">
                <button aria-label="Busca" type="submit"><span class="icon-search"></span></button>
                <span id="clear" class="clear hide"></span>
            </form>  

        </div>

    </div>

</header>