body {
  background-color: black;
  color: white;
}

header {
  background-color: #FFA500;
  padding: 20px;
}

.navbar {
  background-color: transparent !important;
}

.form-control {
  border-color: #FFA500;
  
}

.btn-outline-success {
  color: white;
  background-color: #333;
  border-color: #333;
}

.btn-outline-success:hover {
  background-color: black;
  color: white !important;
  border-color: #FFA500;
}

.card {
  background-color: #333; 
  
  color: white;
}

.card-header {
  background-color: #FFA500;
}
