<div class="container mt-5 p-5">
  <div class="row">
      <!-- Coluna da esquerda -->

      <!-- Card "Palavra do dia" -->
      <div class="row">
          <div class="col-md-8">
              <div class="mb-4">
                  <div class="card bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                      <div class="card-body">
                          <h5 class="card-title">Palavra do Dia</h5>
                          <p class="card-text">{{ wordOfTheDay }}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>