<!--RESPOSTA DA REQUISIÇÃO-->
<div class="flex justify-center items-center mt-20 result" id="resultContainer">
    <a href="#" class="block max-w-md p-6 bg-gray-300 border border-gray-200 rounded-lg shadow hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h2>{{ resultado?.word }}</h2>
        <div class="property">
            <strong>SIGNIFICADO: </strong><span>{{ resultado?.meaning }}</span>
        </div>
        <br>
        <div class="property">
            <strong>INFORMAÇÕES ADICIONAIS: </strong><span>{{ resultado?.additionalInfo }}</span>
        </div>
        <br>
        <div class="property">
            <strong>FRASES: </strong><span>{{ resultado?.phrases }}</span>
        </div>
    </a>
</div>