<div class="container mt-5">
  <div class="row justify-content-end">
    <!-- Coluna da direita -->
    <div class="col-md-4">
      <!-- Card "Palavras mais pesquisadas" -->
      <div class="mb-4">
        <div class="card bg-white border-0 rounded-lg shadow-lg">
          <div class="card-body">
            <h5 class="card-title text-center mb-4">Palavras mais pesquisadas</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item py-2" *ngFor="let word of recentSearches">{{ word }}</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Novo Card "Mini Game" -->
      <div class="mb-4">
        <div class="card bg-white border-0 rounded-lg shadow-lg">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Mini Game</h5>
                <a href="https://termo-game-psi.vercel.app/" target="_blank" class="btn btn-outline-dark bg-gray-500 text-white px-4 py-2 rounded-pill transition duration-300 flex items-center justify-center ml-2">Jogar</a>
            </div>
        </div>
    </div>
    
    

    </div>
  </div>
</div>
