<app-header></app-header>

<app-palavra></app-palavra>

<!-- COMEÇA AQUI OS CARDS -->
<!-- <div class="flex justify-center">
    <div class="flex justify-between items-center mt-10">
        <div class="col-xs-12 mb30 wrap-section max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h2 class="title h3">Palavras mais pesquisadas</h2>
            <div id="recent-searches" class="col-xs-12 card home home-cols--3 card-home">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>

        <div class="mx-4"></div> 

        <div class="col-xs-12 mb30 wrap-section max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h2 class="title h3">Palavra do dia</h2>
            <div id="recent-searches" class="col-xs-12 card home home-cols--3 card-home">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->


<app-recent></app-recent>
<app-about></app-about>

<app-footer></app-footer>