html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
}

article,
aside,
body,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 16px;
  font-style: normal;
  line-height: 1.46;
  color: #404040;
  background: linear-gradient(180deg, #fff 50%, #f5f5f5);
}

@media (min-width: 769px) {
  body {
    background: #f5f5f5;
  }
}

body.body-home {
  background: #f5f5f5;
}

article,
aside,
body,
div,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
html,
img,
label,
li,
nav,
ol,
p,
span,
strong,
ul {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  padding: 0.5em 0;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

.h1,
h1 {
  color: #063859;
}

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  font-family: Barlow, Trebuchet MS, sans-serif;
}

.h2,
.h3,
.h4,
.h5,
h2,
h3,
h4,
h5 {
  color: #333;
}

.h1,
h1 {
  font-size: 2em;
}

.h2,
h2 {
  font-size: 1.375em;
}

.h3,
.h4,
h3,
h4 {
  font-size: 1em;
}

.h5,
h5 {
  font-size: 0.9375rem;
}

a {
  color: #337ab7;
  text-decoration: underline;
}

a:focus,
a:hover {
  color: #285f8f;
  text-decoration: none;
}

p {
  padding: 0.5em 0;
}

p.small {
  font-size: 0.875rem;
}

button,
input,
keygen,
select,
textarea {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 1em;
  color: #757575;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input.btn,
input.txt {
  display: inline-block;
}

input[type="submit"] {
  background-color: #1c6fa7;
  color: #fff;
}

input[type="submit"]:hover {
  background-color: #15527b;
}

a.btn,
button,
input.btn {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: #1c6fa7;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  padding: 6px 8px;
  transition: all 0.15s ease-in-out;
}

a.btn:hover,
button:hover,
input.btn:hover {
  background-color: #12486d;
}

iframe {
  border: 0;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

@media (min-width: 769px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

.row {
  margin-left: 90px;
  margin-right: -100px;
}

.container,
[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 769px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }
}

@media (min-width: 1010px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }
}

.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}

.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.visible {
  display: block !important;
  visibility: visible !important;
}

.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
  display: none !important;
}

@media (max-width: 768px) {
  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  td.visible-xs,
  th.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 768px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 768px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 769px) and (max-width: 1009px) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  td.visible-sm,
  th.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 769px) and (max-width: 1009px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 769px) and (max-width: 1009px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 769px) and (max-width: 1009px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1010px) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table;
  }

  tr.visible-md {
    display: table-row !important;
  }

  td.visible-md,
  th.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 1010px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 1010px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 1010px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 768px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 1010px) {
  .hidden-md {
    display: none !important;
  }
}

verb-wrapper-2:after,
#conjugacao .verb-wrapper-3:after,
#conjugacao .verb-wrapper:after,
.clearfix:after {
  clear: both;
}

.footplus > span:before,
.icon-007_facebook:before,
.icon-7graus:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-checkmark:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-dash-arrow-right:before,
.icon-desktop:before,
.icon-ex:before,
.icon-facebook2:before,
.icon-fb-new:before,
.icon-helo:before,
.icon-instagram:before,
.icon-menu:before,
.icon-newspaper:before,
.icon-pint-new:before,
.icon-plus:before,
.icon-quote:before,
.icon-rss:before,
.icon-search:before,
.icon-sg-social-email:before,
.icon-sg-social-facebook:before,
.icon-sg-social-twitter:before,
.icon-sg-social-whatsapp:before,
.icon-tok:before,
.icon-youtube:before,
.promote-cta .icon:before,
.reviewer-top .check-icon:before,
.sg-facebook-btn .icon-sg-social-facebook:before,
.tit-exemplo > span:before,
.tit-frases > span:before,
[class*=" icon-"],
[class^="icon-"] {
  font: normal normal normal 14px/1 dicio;
  font-size: inherit;
  text-decoration: none;
  text-transform: none;
  line-height: inherit;
  display: block;
  min-width: 1em;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sg-social-twitter:before {
  content: "";
  display: block;
}

.icon-sg-social-whatsapp:before {
  content: "";
  display: block;
}

.icon-sg-social-email:before {
  content: "";
  display: block;
}

.icon-005-twitter:before {
  content: "";
  display: block;
}

.icon-006-whatsapp:before {
  content: "";
  display: block;
}

.icon-007_facebook:before {
  content: "";
  display: block;
}

.icon-menu:before {
  content: "";
}

.icon-search:before {
  content: "";
  display: block;
}

.footplus > span:before,
.icon-plus:before {
  content: "";
  display: block;
}

.icon-desktop:before {
  content: "";
  display: block;
}

.icon-ex:before {
  content: "";
  display: block;
}

.icon-quote:before,
.tit-frases > span:before {
  content: "";
  display: block;
}

.icon-menu:before {
  content: "";
  display: block;
}

.icon-arrow-left:before {
  content: "";
  display: block;
}

.icon-arrow-right:before,
.promote-cta .icon:before {
  content: "";
  display: block;
}

.icon-newspaper:before,
.tit-exemplo > span:before {
  content: "";
  display: block;
}

.icon-7graus:before {
  content: "";
  display: block;
}

.icon-facebook2:before {
  content: "";
  display: block;
}

.icon-rss:before {
  content: "";
  display: block;
}

.icon-youtube:before {
  content: "";
  display: block;
}

.icon-chevron-left:before {
  content: "";
  display: block;
}

.icon-chevron-right:before {
  content: "";
  display: block;
}

.icon-dash-arrow-right:before {
  content: "";
  display: block;
}

.icon-instagram:before {
  content: "";
  display: block;
}

.icon-tok:before {
  content: "";
  display: block;
}

.icon-helo:before {
  content: "";
  display: block;
}

.icon-fb-new:before,
.sg-facebook-btn .icon-sg-social-facebook:before {
  content: "";
  display: block;
}

.icon-pint-new:before {
  content: "";
  display: block;
}

.icon-checkmark:before,
.reviewer-top .check-icon:before {
  content: "";
  display: block;
}

#breadcrumbs {
  margin: 0;
  font-size: 0.75rem;
  padding: 0 10px;
}

#breadcrumbs a {
  color: #20649e;
}

.twitter-typeahead {
  display: block !important;
}

.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.autocomplete-suggestion {
  position: relative;
  padding: 12px 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocomplete-suggestion.selected {
  background-color: #eee;
  cursor: pointer;
}

.clear {
  position: absolute;
  display: block;
  width: 48px;
  height: 44px;
  top: 2px;
  color: #fff;
  cursor: pointer;
  right: 45px;
}

@media (min-width: 1010px) {
  .clear {
    right: 52px;
  }
}

.clear:after,
.clear:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.clear:before {
  z-index: 1;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    #fff 30%,
    #fff
  );
}

.clear:after {
  z-index: 2;
  background-size: 15px;
}

#content .nova-grafia-ao {
  background: rgba(145, 211, 255, 0.4);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
}

#content .nova-grafia-ao > span {
  display: block;
}

#content .nova-grafia-ao > a {
  margin-top: 10px;
  margin-bottom: -5px;
  line-height: 1;
  display: inline-block;
  font-size: 1.6em;
}

#content .parent-card {
  padding: 0;
}

.card {
  position: relative;
}

.card .list {
  list-style: none;
  margin-bottom: -5px;
}

.card .list li {
  margin-bottom: 5px;
}

.card .list li a {
  -webkit-hyphens: auto;
  hyphens: auto;
}

.card .list.col-3 {
  -moz-column-count: 3;
  column-count: 3;
}

.card .list.col-3,
.card .list.col-4 {
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.card .list.col-4 {
  -moz-column-count: 4;
  column-count: 4;
}

@media (max-width: 1009px) {
  .card .list.col-4 {
    -moz-column-count: 3;
    column-count: 3;
  }
}

.card .list.col-2-row li {
  width: 50%;
}

.card .list.col-2-row li:nth-child(2n) {
  padding-right: 0;
}

.card .list.col-3-row li {
  width: 33.3333333333%;
}

.card .list.col-4-row li {
  width: 50%;
}

@media (min-width: 769px) {
  .card .list.col-4-row li {
    width: 33.3333333333%;
  }
}

@media (min-width: 1010px) {
  .card .list.col-4-row li {
    width: 25%;
  }
}

.card .list.col-2-row,
.card .list.col-3-row,
.card .list.col-4-row {
  padding: 7px 0;
  width: 100%;
  display: inline-block;
}

.card .list.col-2-row li,
.card .list.col-3-row li,
.card .list.col-4-row li {
  display: inline-block;
  padding: 5px 5px 5px 0;
}

.card .list.small {
  font-size: 0.9375rem;
}

.card .list.col-2-xl {
  padding: 0;
  margin: 10px 0;
}

@media (min-width: 360px) {
  .card .list.col-2-xl {
    -moz-column-count: 2;
    column-count: 2;
  }
}

.card .list.col-2-xl li {
  margin-bottom: 15px;
}

.card #gooad_palavra.mobile {
  display: none;
}

.card #gooad_palavra,
.card #gooad_searchbot {
  margin: 20px 0;
  padding: 17px 0 10px;
}

.card #gooad_palavra,
.card #gooad_palavrabot,
.card #gooad_searchbot {
  position: relative;
  min-height: 250px;
  text-align: center;
}

.card #gooad_palavrabot,
.card #gooad_searchbot {
  margin-top: 30px;
  margin-bottom: 0;
}

.footplus {
  display: block;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #eee;
  font-size: 0.875rem;
}

.footplus,
.footplus:hover {
  color: #757575;
}

.footplus > span {
  margin-right: 5px;
  vertical-align: middle;
  color: #828282;
}

#conteudo {
  margin-top: -10px;
}

#conteudo ul {
  padding-left: 30px;
}

#conteudo h2,
#conteudo h3 {
  margin-top: 1em;
}

#blog-code-exemplo,
#blog-code-wrapper {
  width: 100%;
  margin-top: 10px;
  float: left;
}

#blog-code-wrapper > strong {
  margin-bottom: 10px;
  display: block;
}

#blog-code-wrapper textarea {
  float: left;
  font-size: 0.75rem;
  padding: 10px;
  width: 60%;
  margin-right: 20px;
}

#blog-code-wrapper #blog-size {
  margin-bottom: 10px;
}

#contato .contact-msg {
  background: #eee;
  padding: 10px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  margin-bottom: 5px;
}

#contato input,
#contato textarea {
  width: 250px;
  border-color: #bfbfbf;
  color: #333;
}

#contato img {
  margin-top: 10px;
}

#contato .area-msg {
  width: 100%;
  max-width: 100%;
  height: 120px;
  color: #333;
}

#contato input[type="submit"] {
  color: #fff;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  border: none;
}

.pesq .found {
  font-size: 0.9em;
  color: #757575;
  margin-bottom: 10px;
}

.pesq .resultados {
  list-style: none;
}

.pesq .resultados li {
  margin-bottom: 15px;
  padding: 0;
}

.pesq .resultados li > ._sugg,
.pesq .resultados li > a {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  background: #fafafa;
}

.pesq .resultados li > a:hover {
  background: #f5f5f5;
}

.pesq .resultados li > a:hover .list-link {
  text-decoration: none;
}

.pesq .resultados li > .no-definition {
  color: #8e8e8e;
}

.pesq .resultados .list-link {
  font-size: 1.125rem;
  display: inline-block;
  width: 100%;
  text-decoration: underline;
  margin-bottom: 5px;
}

.pesq .resultados .list-desc {
  font-size: 1rem;
  color: #404040;
  display: inline-block;
  width: 100%;
}

.pesq #titduv {
  margin: 25px 0 10px;
  padding-left: 15px;
  border-top: 1px solid #eee;
}

.pesq #titduv + .resultados + #gooad_pre {
  margin-top: 30px;
}

#goog-fixurl ul {
  list-style: none;
}

#connections {
  margin-top: 30px;
}

.palavras-relacionadas > strong {
  font-size: 0.875rem;
  font-weight: 400;
  display: block;
  padding-top: 0;
}

.palavras-relacionadas > span {
  display: block;
  font-size: 0.875rem;
  line-height: 1.8em;
  color: #404040;
}

.palavras-relacionadas > span a {
  color: #404040;
  text-decoration: none;
  border-bottom: 1px dotted #757575;
}

.palavras-relacionadas > span a:hover {
  color: #2491da;
  text-decoration: none;
  border-color: #2491da;
}

.word-nf {
  color: #777;
  margin-bottom: 20px;
}

.word-nf a,
.word-nf b {
  color: #666;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper ~ h2 {
  margin-top: 20px;
}

.promote {
  padding: 20px 20px 0;
  margin: 30px 0 70px;
  background: radial-gradient(50% 67%, #1c6fa7 0, #071a26 100%);
  position: relative;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
}

.promote:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat;
  background-position: 0 0;
}

.promote > div {
  position: relative;
  z-index: 1;
}

.promote img {
  max-width: 100%;
  height: auto;
}

.promote-header .title,
.promote-header img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
}

.promote-header .title {
  font-size: 26px;
}

.promote-text {
  padding-top: 15px;
}

.promote-cta {
  padding-top: 20px;
}

.promote-cta a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  max-width: 50%;
}

.promote-cta .cta {
  padding: 8px 15px 9px 18px;
  border-radius: 60px;
  border: 1px solid hsla(0, 0%, 100%, 0.8);
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
}

@media (min-width: 1010px) {
  .promote-cta .cta:hover {
    border-color: #fff;
    background: hsla(0, 0%, 100%, 0.05);
  }
}

.promote-cta .icon {
  font-size: 10px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
}

.promote-image {
  padding-top: 30px;
}

.promote-image img {
  margin-bottom: -40px;
}

.list-title {
  font-size: 1.4em;
}

@media (min-width: 768px) {
  .list-title {
    font-size: 1.6em;
  }
}

.author-content .author-photo {
  position: relative;
  float: left;
  padding: 5px 15px 0 0;
  max-width: 40%;
}

.author-content .author-photo img {
  width: 100%;
  height: auto;
}

.author-content .author-photo + p:first-of-type {
  margin-top: 0;
}

.reviewer {
  margin-top: 30px;
  font-size: 0.75rem;
  color: #757575;
}

.reviewer-top {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #757575;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 12px;
  margin-bottom: 5px;
}

.reviewer-top .check-icon {
  flex-shrink: 0;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #757575;
  margin-right: 8px;
}

.reviewer-top a {
  color: #757575;
  font-weight: 700;
}

@media (max-width: 1009px) {
  #content .card .adicional.cols > span a {
    width: 114px;
  }

  #content .card .adicional.cols > span a:nth-child(5n) {
    margin-right: 20px;
  }

  #content .card .adicional.cols > span a:nth-child(3n) {
    margin-right: 0;
  }

  #gooad_palavra.desktop {
    display: none;
  }

  #gooad_palavra.mobile {
    display: inherit;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  #content .card #gooad_palavra.desktop {
    display: none;
  }

  #content .card #gooad_palavra.mobile {
    display: inherit;
  }

  .card.home-cols.col-2 ul,
  .card.home-cols.col-3 ul,
  .card.home-cols.col-4 ul {
    margin-bottom: -10px;
  }

  .card.home-cols.col-2 ul li,
  .card.home-cols.col-3 ul li,
  .card.home-cols.col-4 ul li {
    width: 50%;
    margin-bottom: 10px;
  }

  .card.home-cols.col-2 ul li:nth-last-child(-n + 2) a,
  .card.home-cols.col-3 ul li:nth-last-child(-n + 2) a,
  .card.home-cols.col-4 ul li:nth-last-child(-n + 2) a {
    border: 0 !important;
  }

  .card.home-cols.col-2 ul li:nth-last-child(-n + 3) a,
  .card.home-cols.col-2 ul li:nth-last-child(-n + 4) a,
  .card.home-cols.col-3 ul li:nth-last-child(-n + 3) a,
  .card.home-cols.col-3 ul li:nth-last-child(-n + 4) a,
  .card.home-cols.col-4 ul li:nth-last-child(-n + 3) a,
  .card.home-cols.col-4 ul li:nth-last-child(-n + 4) a {
    border-bottom: 1px solid #eee;
  }

  #content .promote {
    margin-top: 0;
    margin-left: -10px;
    margin-right: -10px;
  }

  .card {
    padding: 10px;
  }

  .card .list.col-3,
  .card .list.col-4 {
    -moz-column-count: 2;
    column-count: 2;
    margin-bottom: -10px;
  }

  .card .list.col-3 li,
  .card .list.col-4 li {
    margin-bottom: 10px;
  }

  .card #gooad_palavra,
  .card #gooad_palavrabot,
  .card #gooad_searchbot {
    margin: 20px 0;
    text-align: center;
  }

  .card #gooad_palavrabot,
  .card #gooad_searchbot {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  #content .card .adicional.cols > span > a {
    width: 40%;
  }

  #content .card .adicional.cols > span > a:nth-child(4n) {
    margin-right: 0;
  }

  #content .card .adicional.cols > span > a:nth-child(2n) {
    margin-left: 15px;
    margin-right: 0;
  }

  #content .card #gooad_palavra.desktop {
    display: none;
  }

  #content .card #gooad_palavra.mobile {
    display: inherit;
  }
}

@media (max-width: 330px) {
  #content .card #gooad_palavra,
  #content .card #gooad_palavrabot,
  #content .card #gooad_searchbot {
    background: transparent;
    padding: 15px 0 0;
  }

  #content .card #gooad_palavra.desktop {
    display: none;
  }

  #content .card #gooad_palavra.mobile {
    display: inherit;
  }
}

#header {
  position: relative;
  background: #a87c2981;
  padding: 10px 0 5px;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  #header {
    padding: 10px 0;
  }
}

#header > .container {
  position: relative;
  z-index: 2;
  padding: 0 15px;
}

@media (min-width: 769px) {
  #header > .container {
    padding: 0;
  }
}

#header .logo {
  position: relative;
  min-height: 40px;
  padding: 5px 0 0;
}

@media (min-width: 0) and (max-width: 768px) {
  #header .logo {
    padding: 0;
    text-align: center;
  }
}

#header .logo a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  position: relative;
  display: inline-block;
  height: 30px;
  width: auto;
  min-width: 120px;
}

@media (min-width: 769px) {
  #header .logo img {
    height: 32px;
    width: 127px;
  }
}

#header .logo-subtitle {
  position: relative;
  text-align: left;
  display: inline-block;
  color: #121212;
  line-height: 1.1;
  margin-left: 10px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 0.75rem;
  top: -1px;
  max-width: 105px;
}

@media (min-width: 769px) {
  #header .logo-subtitle {
    font-size: 0.8125rem;
    top: -2px;
  }
}

#header.home {
  padding: 43px 0 44px;
}

@media (min-width: 0) and (max-width: 1009px) {
  #header.home {
    padding: 15px 0 5px;
  }
}

@media (min-width: 769px) and (max-width: 1009px) {
  #header.home {
    padding: 15px 0;
  }
}

#header.home > .container {
  padding: 0 15px;
}

@media (min-width: 769px) {
  #header.home > .container {
    padding: 0;
  }
}

#header.home .logo a {
  width: 100%;
}

#header.home .logo img {
  height: 40px;
  width: auto;
  min-width: 160px;
}

@media (min-width: 1010px) {
  #header.home .logo img {
    height: 51px;
    min-width: 203px;
  }
}

#header.home .logo-subtitle {
  position: relative;
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 400;
  -webkit-font-smoothing: initial;
  line-height: 1.1;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  padding: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 11px 0 9px;
}

@media (min-width: 769px) {
  #header.home .logo-subtitle {
    text-align: left;
    max-width: 105px;
    margin: 0 0 0 10px;
  }
}

@media (min-width: 1010px) {
  #header.home .logo-subtitle {
    top: -10px;
  }
}

.home .header-woty--wrapper {
  top: 0;
  margin-top: -15px;
}

.title-header {
  position: relative;
}

.title-header h1 {
  padding: 0;
  margin-bottom: 20px;
  line-height: 1.2;
}

.title-header h1.norp.no-margin-bottom {
  margin-bottom: 0;
}

.common-page .title-header h1 {
  margin-bottom: 10px;
  font-size: 1.75rem;
}

@media (min-width: 769px) {
  .common-page .title-header h1 {
    margin-bottom: 15px;
    font-size: 2rem;
  }
}

@media (min-width: 0) and (max-width: 768px) {
  .common-page {
    background: #fff;
  }

  .common-page .card {
    border-radius: 0;
    box-shadow: none;
  }
}

#search {
  padding: 0;
}

@media (min-width: 0) and (max-width: 768px) {
  #search {
    margin: 0 -10px;
    width: calc(100% + 20px);
  }
}

#search #searchForm {
  position: relative;
  z-index: 999;
}

#search input.txt {
  width: 100%;
  height: 48px;
  color: #404040;
  border-radius: 100px;
  padding: 6px 65px 6px 15px;
  border: 2px solid #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 1px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease-in-out;
}

#search input.txt::-webkit-input-placeholder {
  color: #757575;
}

#search input.txt:-moz-placeholder,
#search input.txt::-moz-placeholder {
  color: #757575;
}

#search input.txt:-ms-input-placeholder {
  color: #757575;
}

#search input.txt:focus {
  outline: none;
  border: 2px solid #121212;
  box-shadow: none;
}

#search button {
  position: absolute;
  right: 4px;
  top: 4px;
  height: 40px;
  width: 40px;
  padding: 0;
  text-align: center;
  border-radius: 100px;
  background: #121212;
  transition: all 0.15s ease-in-out;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  #search button {
    font-size: 1.5rem;
  }
}

#search button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  #search input::-ms-clear {
    display: none;
  }
}

#header.home #search {
  padding: 6px;
  border-radius: 9px;
}

@media (min-width: 1010px) {
  #header.home #search input.txt {
    font-size: 1.125rem;
    height: 55px;
    padding: 15px 80px 15px 20px;
  }
}

#header.home #search input.txt:focus {
  box-shadow: none;
}

@media (min-width: 1010px) {
  #header.home #search button {
    top: 5px;
    right: 5px;
    height: 46px;
    width: 46px;
  }
}

.sg-email-btn:hover {
  background: #a6a6a6;
}

.sg-emailbox {
  display: inline-block;
  position: absolute;
  background: #fff;
  left: 0;
  border: 1px solid #e1e1e1;
  top: 100%;
  margin-top: 4px;
  width: 100%;
  max-width: 500px;
  min-width: 430px;
  opacity: 1;
  visibility: inherit;
  padding: 10px 15px 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 22px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.sg-emailbox.sg-emailbox-hidden {
  opacity: 0;
  display: none;
}

.sg-emailbox label {
  font-size: 14px;
}

.sg-emailbox input,
.sg-emailbox textarea {
  transition: all 0.3s ease-in-out;
  display: block;
  border: 1px solid #e1e1e1;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.sg-emailbox input:focus,
.sg-emailbox input:hover,
.sg-emailbox textarea:focus,
.sg-emailbox textarea:hover {
  outline: none;
  border: 1px solid #aeaeae;
}

.sg-emailbox textarea {
  height: 98px;
}

.sg-emailbox .sg-emailbox-flash {
  border: 1px solid #c3c3c3;
  font-weight: 700;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
  background: #e1e1e1;
  color: #7d7d7d;
}

@media (min-width: 0) and (max-width: 570px) {
  .common-page .box-social {
    position: relative;
    float: none;
    top: 0;
  }
}

@media (min-width: 768px) {
  .common-page .box-social {
    top: 5px;
  }
}

.common-page .word-search-wrapper .box-social {
  position: relative;
  float: none;
  top: 0;
}

@media (min-width: 769px) and (max-width: 991px) {
  .common-page .top-words--wrapper .box-social {
    position: relative;
    float: none;
    top: 0;
  }
}

.card-list-wrapper {
  display: table;
}

.card {
  border-radius: 10px;
  padding: 10px 10px 15px;
  overflow: hidden;
}

.card,
.card-2 {
  background: #c2c7c498;
  -webkit-font-smoothing: antialiased;
}

.promo-sidebar--widget mt10 {
  margin-top: 10px;
}

@media (min-width: 0) and (max-width: 768px) {
  .mt10--m {
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .mt10--d {
    margin-top: 10px;
  }
}

.mt20 {
  margin-top: 20px;
}

@media (min-width: 0) and (max-width: 768px) {
  .mt20--m {
    margin-top: 20px;
  }
}

@media (min-width: 769px) {
  .mt20--d {
    margin-top: 20px;
  }
}

.mt30 {
  margin-top: 30px;
}

@media (min-width: 0) and (max-width: 768px) {
  .mt30--m {
    margin-top: 30px;
  }
}

@media (min-width: 769px) {
  .mt30--d {
    margin-top: 30px;
  }
}

.mt40 {
  margin-top: 40px;
}

.mb0 {
  margin-bottom: 0;
}

.mt0 {
  margin-top: 0;
}

.mb10 {
  margin-bottom: 10px;
}

@media (min-width: 0) and (max-width: 768px) {
  .mb10--m {
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) {
  .mb10--d {
    margin-bottom: 10px;
  }
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}
