<app-header></app-header>

<!-- INPUT E BUTTON DE PESQUISA -->

<app-palavra></app-palavra>



<!-- COMEÇA AQUI OS CARDS -->
<div class="flex justify-center">
    <div class="flex justify-between items-center mt-10">
        <a href="#" class="block max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">10 Palavras mais pesquisadas....</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Aqui vão ficar as palavras</p>
        </a>

        <div class="mx-4"></div> <!-- Espaço entre os cards -->

        <a href="#" class="block max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Palavra do dia....</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">Aqui vão ficar as palavras</p>
        </a>
    </div>
</div>




<app-about></app-about>

<app-footer></app-footer>